@model DeliveryAPI.Models.Pedidos

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Você realmente deseja excluir esse pedido?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> <br />
        <a asp-action="orders">Voltar para a lista</a>
    </form>
</div>
